<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<head>
    <meta charset="UTF-8">
    <title>Add Transaction</title>
</head>

<body>

{% if id_flag %}

<h2>The ID Does Not Exist</h2>

{% else %}

<h2>Add New Transaction</h2>

<form method="POST" action="">

    {% csrf_token %}
    <label for="id">ID:</label>
    <input type="number" id="id" name="id" required>
    <br>

    <label for="amount">Transaction Sum:</label>
    <input type="number" id="amount" name="amount" required>
    <br>

    <input type="submit">

</form>

<h2>Last 10 Transactions</h2>

<table>
    <th>Date</th>
    <th>Investor ID</th>
    <th>Transaction Sum</th>
    {% for content in sql_res%}
        <tr>
            <td>{{ content.tDate }}</td>
            <td>{{ content.ID }}</td>
            <td>{{ content.TQuantity }}</td>
        </tr>
    {% endfor %}
</table>
{% endif %}

<br>
<br>
<a href="home.html">Home</a>
<br>
<a href="add_transaction.html">Add Transaction</a>
<br>
<a href="query_results.html">Query Result</a>
<br>
<a href="buy_stocks.html">Buy Stocks</a>

</body>
</html>