<!DOCTYPE html>
<html lang="en">

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>

<h1>Welcome to the Stocks Website</h1>
    <img src="{% static 'alien.png' %}" alt="alien">
<br>
<a href="home.html">Home</a>
<br>
<a href="add_transaction.html">Add Transaction</a>
<br>
<a href="query_results.html">Query Result</a>
<br>
<a href="buy_stocks.html">Buy Stocks</a>
<br>
</body>
</html>